* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}

li {
  list-style: none;
}

body {
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding: 1rem;
  min-width: 300px;
}

.container > header {
  margin: 2rem 0;
  min-width: 300px;
  color: white;
}

.cities {
  padding: 30px;
  background: url("./img/fondo.jpg") center no-repeat fixed;
  height: 120vh;
}

.museums > p,
.museums-actived > p {
  font-size: 1.8rem;
}

.container li {
  color: rgba(112, 1, 1, 0.863);
  font-weight: bold;
  margin-bottom: 1rem;
}

.museums > main > ul {
  margin-left: 4vw;
}

.museums-actived {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.657);
}

.museums-actived > p {
  color: rgba(187, 127, 30, 0.863);
}

.museums-actived > main {
  padding: 0.5rem;
}

.name-museum {
  text-align: center;
  background: no-repeat url("./img/fondo-dos.jpg");
  height: 600px;
  width: 300px;
}

.imgMuseum {
  width: 170px;
  height: 170px;
  box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.657);
  border-radius: 50%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.name-museum > nav > a {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

button {
  width: 60%;
  height: 1.8rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid white;
  margin-top: 1rem;
  border-radius: 3px;
}

.submit {
  background: rgba(231, 80, 80, 0.856);
  border: none;
  width: 40%;
  height: 1.2rem;
  color: white;
}

form {
  margin: 3rem 0;
  text-align: center;
}

.embarcacion {
  width: 20vw;
  margin-top: 3rem;
}
